---
interface Props {
  title: string;
  author: string;
  dateAdded: Date;
  url: string;
  comments?: string;
}

const { title, author, dateAdded, url, comments } = Astro.props;
const date = new Date(dateAdded).toLocaleDateString();
---

<article
  class="first:border-t last:border-b py-4 border-zinc-300 text-zinc-800"
>
  <div class="flex items-center justify-between">
    <div class="flex min-w-0 gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        class="mt-[0.175rem] shrink-0"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m15 10l4.553-2.276A1 1 0 0 1 21 8.618v6.764a1 1 0 0 1-1.447.894L15 14zM3 8a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
        ></path>
      </svg>

      <div class="min-w-0">
        <h3
          class="text-base font-semibold leading-snug tracking-tight truncate hover:underline"
        >
          <a target="_blank" href={url} class="">{title}</a>
        </h3>
        <p class="text-sm leading-snug tracking-wide truncate text-zinc-600">
          {author} &middot; added {date}
        </p>
      </div>
    </div>
    {
      comments && (
        <button
          class="pl-2 ml-2 transition-all cursor-pointer shrink-0 hover:text-zinc-600 hover:scale-110"
          id="comments-btn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M8 9h8m-8 4h6m4-9a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3h-5l-5 3v-3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3z"
            />
          </svg>
        </button>
      )
    }
  </div>
  <p class="hidden text-zinc-600 ml-6.5 text-sm mt-2 comment">
    {comments}
  </p>
</article>

<style>
  .hidden {
    display: none;
  }
</style>

<script>
  const btn: HTMLButtonElement | null = document.querySelector("#comments-btn");
  const commentParagraph: HTMLParagraphElement | null =
    document.querySelector(".comment");

  btn?.addEventListener("click", () => {
    commentParagraph?.classList.toggle("hidden");
  });
</script>
