---
import NavLink from "./NavLink.astro";
---

<nav class="flex flex-wrap items-center justify-between py-8 px-4 lg:px-0">
  <h2 class="text-lg font-serif tracking-tight">
    <a href="/">Christopher Trumpet Jr. 🎺</a>
  </h2>

  <button id="menu-btn" class="block md:hidden p-2 focus:outline-none">
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <ul
    id="menu"
    class="hidden w-full flex-col gap-2 pt-4 md:flex md:w-auto md:flex-row md:gap-6 md:pt-0 lg:items-end lg:leading-tight"
  >
    <NavLink href={"/"} disabled={false}>home</NavLink>
    <NavLink href={"/projects"} disabled={false}>projects</NavLink>
    <div
      class="border-l border-r hidden lg:inline-block lg:h-4 border-zinc-300"
    >
    </div>
    <NavLink href={"/media"} disabled={false}>media</NavLink>
    <NavLink href={"/sandbox"} disabled={false}>sandbox</NavLink>
    <NavLink href={"/blog"} disabled={false}>blog</NavLink>
  </ul>
</nav>

<script>
  const menuBtn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  menuBtn!.addEventListener("click", () => {
    menu!.classList.toggle("hidden");
    menu!.classList.toggle("flex");
  });
</script>
