---
import NavLink from "./NavLink.astro";
---

<nav class="flex flex-wrap items-center justify-between px-4 py-8 lg:px-0">
  <h2 class="font-serif text-lg leading-relaxed tracking-tight">
    <a href="/">Christopher Trumpet Jr. 🎺</a>
  </h2>

  <button id="menu-btn" class="block p-2 md:hidden focus:outline-none">
    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <ul
    id="menu"
    class="flex-col hidden w-full gap-2 pt-4 md:flex md:w-auto md:flex-row md:gap-6 md:pt-0 lg:items-end lg:leading-relaxed"
  >
    <NavLink href={"/"} disabled={false}>home</NavLink>
    <!-- <NavLink href={"/projects"} disabled={false}>projects</NavLink> -->
    <div
      class="hidden border-l border-r lg:inline-block lg:h-4 border-zinc-300"
    >
    </div>
    <NavLink href={"/media"} disabled={false} ariaLabel="Go to media archive"
      >media</NavLink
    >
    <NavLink href={"/sandbox"} disabled={false} arialabel="Go to sandbox"
      >sandbox</NavLink
    >
    <NavLink href={"/blog"} disabled={false} ariaLabel="Go to blog post archive"
      >blog</NavLink
    >
  </ul>
</nav>

<script>
  const menuBtn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  menuBtn!.addEventListener("click", () => {
    menu!.classList.toggle("hidden");
    menu!.classList.toggle("flex");
  });
</script>
